<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>uDeck</string>
    <key>CFBundleDisplayName</key>
    <string>uDeck</string>
    <key>CFBundleIconFile</key>
    <string>uDeck</string>
    <key>CFBundleIdentifier</key>
    <string>place.unicorns.udeck</string>
    <key>CFBundleExecutable</key>
    <string>uDeck</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.1</string>
    <key>CFBundleVersion</key>
    <string>3</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/iillyyaa1997/udeck/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>pxUvxCxwUBF6ftsanVsAhrjGKlvWP5Qfdzf+c1BpMCw=</string>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Ilya Volkov. Licensed under the Apache License, Version 2.0.</string>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
</dict>
</plist>
